*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    background-color: hsl(235, 18%, 26%);
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 20px;
    width: 740px;
    padding: 18px;
    max-width: 100%;
}
.form_up,
.image{
    display: flex;
    border-radius: 30px;
    flex: 1 1 50%;
    box-sizing: border-box;
}
.form_cont{
    color: hsl(234, 29%, 20%);
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}
.form_cont h1{
    font-size: 40px;
}
.form_cont p{
    font-size: 13.7px;
    text-align: justify;
}
.form_cont ul{
    list-style: none;
}
.item_container{
    margin: 10px 0;
    display: flex;
    gap: 1em;
    align-items: center;
}
.item_container img{
    object-fit: cover;
    width: 7%;
}
.form_cont label{
    font-size: 15px;
}
img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.neutral{
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-inline: 15px;
}
.sub{

    height: 40px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.sub:hover{
    cursor: pointer;
    background-color: rgb(255, 108, 71);
    color: white;
}
.header_input{
    display: flex;
    justify-content: space-between;
}
.warning{
    color: tomato;
}
.bad_input{
    color: tomato;
    height: 40px;
    border-radius: 5px;
    border: 1px solid tomato;
    padding-inline: 15px;
}
.popup{
    display: none;
    border-radius: 30px;
    width: 360px;
    padding: 30px;
    background-color: white;
}
.header_popup{
    margin-bottom: 1.3em;
}
.header_popup img{
    width: 50px;
}.container_popup{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}
.container_popup h1{
    color: hsl(234, 29%, 20%);
    font-weight: bold;
    font-size: 40px;
}
.container_popup button{
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: hsl(234, 29%, 20%);
    height: 40px;
}
.container_popup button:hover{
    cursor: pointer;
    background-color: tomato;
}